<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ld.infrastructure.database.mapper.PrizeMapper">

    <resultMap id="BaseResultMap" type="cn.ld.infrastructure.database.dataObject.PrizeDB">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="prizeName" column="prize_name" jdbcType="VARCHAR"/>
            <result property="inventory" column="inventory" jdbcType="INTEGER"/>
            <result property="money" column="money" jdbcType="DECIMAL"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,prize_name,inventory,
        money,type,create_time,
        creator,update_time,updater
    </sql>

    <select id="page" resultType="cn.ld.infrastructure.database.dataObject.PrizeDB">
        select * from ld_prize p
        <where>
            <if test="query.id!=null">
                and p.id=#{query.id}
            </if>
            <if test=" query.prizeName! = '' and query.prizeName !=null ">
                and p.prize_name like concat('%',#{query.prizeName},'%')
            </if>
            <if test=" query.type! = null and query.type !='' ">
                and p.type=#{query.type}
            </if>
        </where>
    </select>

</mapper>
