<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ld.infrastructure.database.mapper.RecordMapper">

    <resultMap id="BaseResultMap" type="cn.ld.infrastructure.database.dataObject.RecordDB">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
            <result property="awardId" column="award_id" jdbcType="BIGINT"/>
            <result property="isWinning" column="is_winning" jdbcType="TINYINT"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,activity_id,
        award_id,is_winning,state,
        create_time,creator,update_time,
        updater
    </sql>

    <update id="updateStatus">
        update ld_record
        set a.state = #{status}
        where a.id = #{recordId}
    </update>

    <select id="page" resultType="cn.ld.infrastructure.database.dataObject.RecordDB">
        select a.*,b.award_name,c.prize_name
        from ld_record a
        left join ld_award b on a.award_id=b.id
        left join ld__prize c on b.prize_id=c.id
        <where>
            <if test="query.userId!=null">
                and a.userId=#{query.userId}
            </if>
            <if test="query.activityId!=null">
                and a.activityId=#{query.activityId}
            </if>
            <if test="query.winTheLottery!=null">
                and a.is_winning=#{query.winTheLottery}
            </if>
            <if test="query.status!=null">
                and a.state=#{query.status}
            </if>
        </where>
    </select>

</mapper>
